// --------------------------------------------------------------------------
// colors.sass
// --------------------------------------------------------------------------
// This file assigns all hex colors to variables
// --------------------------------------------------------------------------
// All names are genereted using 'http://chir.ag/projects/name-that-color'
// --------------------------------------------------------------------------

///**********************************
// Greyscale
///**********************************

$black: #000;
$white: #fff;

///**********************************
// MBT Colours
///**********************************

$lightning-yellow: #ffc524;
$mindaro: #ddf486;
$international-orange: #fd5500;
$grenadier: #c43d02;
$thunderbird: #d0261b;
$red-beech: #723c01;
$melrose: #b6c6ff;
$kaitoke-green: #005431;
$scooter: #2fbcbc;
$blue-stone: #01635e;
$cotton-candy: #ffc0d7;
$biloba-flower: #c5a5eb;
$persian-blue: #1e33c2;
$cornflower-blue: #B6C6FF;
$cornflower-blue-light: #C0D3FA;
$daisy-bush: #552a91;
$dove-gray: #707070;
$bronco: #afa194;
$bizarre: #eee2d6;
$alto: #d1d1d1;
$concrete: #f2f2f2;

// Additional colours
$pastel-pink: #ffcee0;
$white-linen: #f8f0e9;


