.join {
  &__hero {
    background-color: $cotton-candy;
    &__title {
      @extend .contact__title;
    }
    &__text {
      @extend .home__register__text;
    }
  }
  &__form {
    &__list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px dotted black;
      align-items: flex-end;
      margin: 0;
      padding: 0;
      &__channel {
        @include FoundersGroteskMono-18;
        text-transform: uppercase;
        color: $black;
      }
      dt {
        @include FoundersGroteskMedium-20;
        color: $black;
        padding: 0.5rem 0;
      }
      dd {
        @include FoundersGroteskMono-12;
        color: $black;
        a {
          color: $black;
          text-transform: uppercase;
        }
        padding: 0.5rem 0;
      }
    }
    &__business {
      background-color: $cotton-candy;
      position: relative;
      &__decorator {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 100vw 0 0;
        border-color: $cotton-candy transparent transparent transparent;
      }
    }
    &__title {
      @include FoundersGroteskMedium-24;
      color: $black;
    }
    &__label {
      @include FoundersGroteskMono-18;
      color: $black;
      text-transform: uppercase;
      &--small {
        @include FoundersGroteskMono-12;
        color: $black;
        text-transform: uppercase;
      }
      &--choose-file {
        margin-top: 12px;
      }
    }
    &__input {
      border: 2px solid $black;
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      height: 35px;
      @include FoundersGroteskMono-18;
      color: $black;
      outline: none;
      &:focus {
        color: $black;
        background-color: $pastel-pink;
        border-color: $black;
      }
      &:disabled {
        opacity: 0.4;
        pointer-events: none;
      }
      &--clear {
        background-color: transparent;
      }
      &--business {
        background-color: $pastel-pink;
        &--textarea {
          height: 90px;
          resize: none;
        }
        &--biography {
          min-height: 100%;
          height: 100%;
        }
      }
    }
    &__area {
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px dotted black;
      padding: 1rem;
    }
    &__select {
      border: 2px solid $black;
      border-radius: 5px;
      border-bottom-left-radius: 0px;
      height: 35px;
      @include FoundersGroteskMono-18;
      color: $black;
      outline: none;
      width: 100%;
      appearance: none;
      outline: none;
      padding-left: 10px;
      background-color: transparent;
      &:focus {
        color: $black;
        background-color: $pastel-pink;
        border-color: $black;
      }
      // select {
      //   appearance: none;
      //   width: 100%;
      //   height: 100%;
      //   background: transparent;
      //   border: none;
      //   @include FoundersGroteskMono-18;
      //   outline: none;
      //   padding-left: 10px;
      // }
    }
    &__cover-photo {
      border: 2px solid $black;
      border-radius: 5px;
      background: $biloba-flower;
      min-height: 180px;
      margin-bottom: 15px;
      position: relative;
      &__camera-icon {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
    &__choose-file {
      @include FoundersGroteskMono-18;
      background-color: $black !important;
      border-color: $black !important;
      border-radius: 5px !important;
      width: 172px;
      &__container {
        position: relative;
        &:after {
          content: "+ CHOOSE FILE";
          @include FoundersGroteskMono-18;
          color: $cotton-candy !important;
          position: absolute;
          top: 14px;
          left: 26px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    &__profile-photo {
      border: 2px solid $black;
      border-radius: 5px;
      background: $biloba-flower;
      height: 128px;
      width: 128px;
      border-radius: 130px;
      margin: 15px 0px;
      position: relative;
      &__camera-icon {
        position: absolute;
        right: -3px;
        bottom: 0px;
      }
    }
    &__map {
      border: 2px solid $black;
      border-radius: 5px;
      background: $biloba-flower;
      height: calc(100% - 24px);
      margin-top: 19px;
      position: relative;
      &__plus-sign {
        position: absolute;
        right: 15px;
        bottom: 55px;
      }
      &__minus-sign {
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
    }
    &__radio-checkbox {
      height: 35px;
      position: relative;
      margin-top: 10px;
      &__input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.011;
        z-index: 100;
        width: 100%;
        height: 100%;
        // &[type="radio"]:checked + label {
        //   background: $black;
        //   color: $cotton-candy;
        // }
        // &--tags {
        //   &[type="radio"]:checked + label {
        //     background: $black;
        //     color: $bizarre;
        //   }
        // }
      }
      &.active {
        &[type="radio"],
        label {
          background: $black;
          color: $cotton-candy;
        }
      }
      &__label {
        display: block;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include FoundersGroteskMono-18;
        text-transform: uppercase;
        background-color: $pastel-pink;
        border-color: $black !important;
        border-radius: 5px !important;
        border: 2px solid $black;
        color: $black;
        & span {
          display: block;
          padding-top: 9px;
        }
        &--tags {
          background-color: $white-linen;
          &--dashed {
            border: 2px dashed $black;
          }
        }
      }
    }
    &__social-media-icon {
      width: 25px;
      margin-top: 5px;
    }
    &__social-media-checkbox {
      width: 30px;
      height: 30px;
      background-color: $pastel-pink;
      border-color: $black !important;
      border-radius: 5px !important;
      border: 2px solid $black;
      &:checked {
        background-color: transparent;
        background-image: url("/src/assets/images/checkbox.png");
        &:focus {
          background-color: transparent;
        }
      }
    }
    &__social-media-text {
      @include FoundersGroteskNormal-16;
      color: $black;
      width: 240px;
    }
    &__tags {
      background-color: $bizarre;
      padding: 70px 0px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0px;
        right: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 80px 100vw;
        border-color: transparent transparent $bizarre transparent;
      }
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100vw 80px 0;
        border-color: transparent $bizarre transparent transparent;
      }
      &__text {
        @extend .join__form__social-media-text;
        width: 450px;
      }
    }
  }
}
.error {
  @include FoundersGroteskNormal-16;
  background: #ffc525;
  border-left: 2px solid black;
  color: black;
  margin-top: 0px;
  padding: 3px 5px;
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  &--active {
    opacity: 1;
  }
}
.warning {
  background: #ffc525;
  padding: 1rem;
  @extend .home__register__text;
  margin-bottom: 5rem;
}
.uk-form-info {
  position: absolute;
  background: white;
  color: black;
  top: 0;
  right: 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  font-size: 0.8rem;
}
